h1 {
  text-shadow: 3px 3px 3px green;
  text-shadow: 3px 3px 3px green, 5px 5px 5px red;
}
.box {
  background-color: cadetblue;
  width: 200px;
  height: 200px;
  box-shadow: 10px 10px 15px green, 10px 10px 15px blue;
  color: brown;
}
.box1 {
  margin: 10px;
  background-color: cadetblue;
  width: 200px;
  height: 200px;
  box-shadow: -10px -10px 15px green, 10px 10px 15px blue;
  color: brown;
}
