.box {
  background-color: blueviolet;
  width: 100px;
  height: 100px;
  transform: translate(10px, 20px);
}
.box0 {
  background-color: rgb(194, 161, 224);
  margin: 20px;
  width: 100px;
  height: 100px;
  transform: translateX(100px);
  transform: translateY(100px);
  transform: rotate(-45deg);
  /* anticlockwise when negative */
}
.box1 {
  background-color: blueviolet;
  margin: 10px 20px 10px 20px;
  width: 100px;
  height: 100px;
  transform: translate(200px, 200px);
  transform: rotate(45deg);
  /* clockwise when positive */
  transform: scale(1.5, 1.5);
  /* 1st attribute scale horizontally */
  /* 2nd attribute scale vertically */
  /* even decimal value will work */
  transform: skew(45deg);
}
