@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
article {
  width: 420px;
  height: 430px;
  box-shadow: 3px 3px 3px 3px rgba(3, 0, 0, 0.2);
  border-radius: 20px;
}
section figure img {
  margin: 10px 10px;
  width: 400px;
  border-radius: 5px;
}

.text1 {
  list-style: none;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
  font-family: inherit;
  font-weight: bold;
  font-size: medium;
}
.text2 {
  list-style: none;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
  color: rgb(130, 130, 130);
  font-family: inherit;
  font-size: medium;
}
button {
  background-color: rgb(36, 150, 63);
  border: none;
  color: white;
  padding: 2px 2px;
  font-size: small;
  font-family: inherit;
  font-weight: bold;
  border-radius: 4px;
}
.text3 {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-family: inherit;
  font-size: medium;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
  height: 0.1rem;
  background-color: rgb(232, 232, 232);
  margin-bottom: 3px;
  margin-top: 16px;
  border: none;
}
section figcaption div {
  display: flex;
}
section figcaption div img {
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
section figcaption div p {
  text-align: left;
  margin-left: 8px;
  margin-top: 4px;
  color: rgb(130, 130, 130);
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
}
