@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  margin: 0;
  padding: 20px;
  font-family: mulish;
  background-color: #1a1a1a;
  color: #ffffff;
}

.nav-container {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 15px;
}

.nav1 {
  background-color: #434547;
  padding: 10px;
}

.nav1 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav1 li {
  display: inline;
}

.nav1 a {
  text-decoration: none;
  color: #ffffff;
  /* background-color: #ae7d09; */
  padding: 5px 10px;
  position: relative;
}

.nav1 a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1065d6;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
  transform: scaleX(1);
}

.nav1 .login-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav1 .login-btn:hover {
  background-color: #175cd3;
  color: #ffffff;
}

.nav2 {
  background-color: #343a40;
  width: 300px;
  padding: 20px;
}

.nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav2 li {
  margin-bottom: 10px;
}

.nav2 a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 10px;
  width: 100%;
}

.nav2 a:hover {
  background-color: #0f0101;
}

.nav2 .login-btn {
  background-color: #111213;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
}

.nav2 .login-btn:hover {
  background-color: #676262;
  cursor: pointer;
}

.nav3 {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.nav3 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.nav3 a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  display: block;
  position: relative;
}

.nav3 a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #175cd3;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav3 a:hover::after {
  transform: scaleX(1);
}

.nav3 .dropdown-content {
  display: none;
}

.nav3 .dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  background-color: #ffffff;
}

.nav3 .login-btn {
  width: 80px;
  padding: 5px 10px;
  background-color: #175cd3;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.nav3 .login-btn:hover {
  background-color: #1c69ed;
  color: #ffffff;
}
