.parent {
  display: flex;
  justify-content: center;
  align-content: center;
}
.card {
  border: 1px solid orange;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  padding: 10px;
  /* justify-content: center;
  align-items: center; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
p {
  text-align: center;
}
.enroll-btn {
  width: 100%;
}
