* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-bar ul {
  padding: 10px;
  height: 50px;
  display: flex;
  color: white;
  list-style-type: none;
}

.nav-bar ul li {
  text-decoration: none;
  border: 1px solid wheat;
  height: 30px;
  padding: 5px;
  background-color: black;
}
