@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  /* background-color: blue; */
  font-family: "Fredoka", sans-serif;
  height: 100%;
}

.logo {
  width: 150px;
  /* height: 400px; */
  object-fit: contain;
}

.container {
  background: linear-gradient(140deg, #8a2be2, #4169e1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 8px;
  max-width: 350px;
}
h1 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

button {
  background-color: #8a2be2;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #7a1dd1;
}
